h1 {
    text-align: center;
    color: darkgreen;
}

fieldset, input {
    text-align: center;
    border-radius: 3px;
    border-width: 1px;
    border-color: yellowgreen;
    color:darkgreen;
                
}

#idConf {
    background-color: green;
    width: 100px;
    height: 50px;
    margin-right: 20px;
   
}
#idCanc {
    background-color: red;
    width: 100px;
    height: 50px;
    margin-right: 20px;

}

#idBranco {
    background-color: white;
    width: 100px;
    height: 50px;
}